@model List<KoiFishAuction.Common.ViewModels.KoiFish.KoiFishViewModel>

@{
    ViewData["Title"] = "Koi Fish List";
}

<div class="container">
    <p>
        <a class="btn btn-light" asp-action="Create">Create New Koi Fish</a>
    </p>
    <div class="header-container">
        <input type="text" id="SearchQuery" class="form-control search-input" placeholder="Search by Koi Fish Name" oninput="searchKoiFishes()" />
        <input type="hidden" id="SortOrder" value="" />
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info" id="message" role="alert">
            @ViewBag.Message
        </div>
    }

    <table class="table table-hover">
        <thead>
            <tr>
                <th><a href="#" onclick="sortKoiFishes('Name')">Name</a></th>
                <th><a href="#" onclick="sortKoiFishes('CurrentPrice')">Current Price</a></th>
                <th><a href="#" onclick="sortKoiFishes('Origin')">Origin</a></th>
                <th><a href="#" onclick="sortKoiFishes('ColorPattern')">Color Pattern</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="koi-fish-table-body">
            @foreach (var item in Model)
            {
                <tr id="row-@item.Id">
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @item.Name
                        </a>
                    </td>
                    <td>@item.CurrentPrice.ToString("C")</td>
                    <td>@item.Origin</td>
                    <td>@item.ColorPattern</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-info btn-sm" asp-route-id="@item.Id">Edit</a>

                        <form method="post" action="@Url.Action("Delete", new { id = item.Id })" style="display:inline;"
                              onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function searchKoiFishes() {
            var searchQuery = $("#SearchQuery").val();
            var sortOrder = $("#SortOrder").val();
            $.ajax({
                url: "@Url.Action("Search", "KoiFish")",
                type: "GET",
                data: { searchQuery: searchQuery, sortOrder: sortOrder },
                success: function (data) {
                    var tableBody = $("#koi-fish-table-body");
                    tableBody.empty();
                    $.each(data, function (i, item) {
                        var row = `<tr>
                                                <td><a href="/KoiFish/Details?id=${item.id}">${item.name}</a></td>
                                                <td>${parseFloat(item.currentPrice).toLocaleString('en-US', { style: 'currency', currency: 'USD' })}</td>
                                                <td>${item.origin}</td>
                                                <td>${item.colorPattern}</td>
                                                <td>
                                                    <a href="/KoiFish/Edit?id=${item.id}" class="btn btn-outline-info btn-sm">Edit</a>
                                                    <form method="post" action="/KoiFish/Delete/${item.id}" style="display:inline;" onsubmit="return confirmDelete();">
                                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>`;
                        tableBody.append(row);
                    });
                },
                error: function () {
                    alert("An error occurred while searching for Koi Fishes.");
                }
            });
        }

        // Function to show confirmation dialog before deleting
        function confirmDelete() {
            return confirm("Are you sure you want to delete this Koi Fish?");
        }

        // Function to handle sorting and update table dynamically
        function sortKoiFishes(order) {
            $("#SortOrder").val(order);
            searchKoiFishes();
        }

        // Fade out the message alert after 2 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $('#message').fadeOut('slow');
            }, 2000);
        });
    </script>
}
